<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Ore Foundry</string>
	<key>CFBundleExecutable</key>
	<string>OreFoundry</string>
	<key>CFBundleIconFile</key>
	<string>OreFoundryMain</string>
	<key>CFBundleIdentifier</key>
	<string>com.utils.OreWorks.OreFoundry</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Ore Foundry</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright AwesomeStanlyLabs 2009-2010. All rights reserved.</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSMainNibFile</key>
	<string>OreFoundry</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
